* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
/*
div, img { 
    border: 1px solid purple;
}
*/
html {
    /*position: relative;*/
    min-height: 100%;
}

body {
    font-family: helvetica, arial, sans-serif;
    width: 100%;
    height: 100%; 
    background: #FFF;
    background-image: url('../img/debut_dark.png');
    color: white;

}

header {
    display: block;
    margin: 0 auto;
    padding: 3em 0;
    text-align: center;
}

header p {
    margin: 1em 0;
}

h1 {
    font-size: 4em;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}

h1 #giant {
    color: red;
}

.main-container {
    overflow: hidden;
    max-width: 1000px;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    /*border: 1px solid red;
*/}

#game-search { 
    float:left;
    /*border: 1px solid blue;*/
}

#search-results {
    width: 70%;
    float:left;
    height: 100%;
    /*border: 2px solid green;*/
}

#search-field {
    width: 80%;
    height: 60px;
    text-align: center;
    font-size: 1.5em;
    margin-left: 10%;
} 
#questions {
    float: left;
    /*border: 1px solid yellow;*/
}

#results img {
    max-width: 30%;
    max-height: 80%;
    /*border: 3px solid #FFF;*/
    float:left;
    margin-right: 5%;
}
/*
#reset {
    position: relative;
    float: right;
}

.hidden {
    display: none;
}

input #submitBtn {
    position: relative;
    /*margin-left: 24em;
    margin-top: 1em; 
    width: 70%;
}*/

#resetBtn,
#submitBtn {
    float: right;
}

#error {
    display: none;
    color: red;
}


footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    text-align: center;
}

footer a {
    color: #89cff0;
    text-decoration: none;
}

